@model string

@{
    ViewBag.Title = "GetValue";
}

<h2>GetValue</h2>

<div>
    <h4>Sensor</h4>
    <img src="https://images.app.goo.gl/m2VpZ64Rs8uNXQuX9" alt="class A" />
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>

        <dd>

        </dd>


    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
